{% load static %}
<html>

     <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
         <link rel="stylesheet" href="{% static "codemirror/theme/monokai.css" %}">
        <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
         <script src="{% static "codemirror/mode/javascript/javascript.js" %}"></script>
    </head>

    <body>

        Hej edytujesz wlaśnie javascriptowy szyfr: {{cipher_name}}.
        <input type="checkbox" {% ifequal ready True %}
               checked
        {% else %}
        {% endifequal %} id="visible" onclick="synchronize();"> Czy szyft publicznie dostępny do zabawy? <br>

        Funkcja szyfrująca:
        <div style="border: 1px solid black; padding: 0px; width:60%" oninput="synchronize();" onkeyup="synchronize();">
            <textarea id="enc" cols="100" rows="20" style="width:100%">{{enc}}</textarea>
        </div>
         <br>

         Funkcja deszyftująca:
        <div style="border: 1px solid black; padding: 0px; width:60%" oninput="synchronize();" onkeyup="synchronize();">
            <textarea id="dec" cols="100" rows="20" style="width:100%">{{dec}}</textarea>
        </div>
         <br>

        Testuj Szyfrowanie:<br>
        Tekst: <input type="text" id="enc_text"> <br>
        Klucz: <input type="text" id="enc_key"> <br>
        <button onclick="ciphering_test();">Szyfruj</button> <br>
        Wynik: <input type="text" id="enc_res"> <br>
        <div id="enc_err_container" style="display: none;"> Błędy: <div style="color:red; white-space: pre; border: 1px solid black; padding: 0px;" id="enc_err"></div></div> <br> <br><br>

        Testuj Deszyfrowanie:<br>
        Szyfrogram: <input type="text" id="dec_text"> <br>
        Klucz: <input type="text" id="dec_key"> <br>
        <button onclick="deciphering_test();">Szyfruj</button> <br>
        Wynik: <input type="text" id="dec_res"> <br>
        <div id="dec_err_container" style="display: none;"> Błędy: <div style="color:red; white-space: pre; border: 1px solid black; padding: 0px;" id="dec_err"></div></div> <br> <br><br>

         <script>
          var editor_enc = CodeMirror.fromTextArea(document.getElementById("enc"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        indentUnit: 4,
        tabMode: "space",
        matchBrackets: true,
        styleActiveLine: true,
        theme: "monokai"
        });

       var editor_dec = CodeMirror.fromTextArea(document.getElementById("dec"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        indentUnit: 4,
        tabMode: "space",
        matchBrackets: true,
        styleActiveLine: true,
        theme: "monokai"
      });

      var enc_header = "var enc = (text, key) =>";
      var dec_header = "var dec = (cipher, key) =>";
      var prev_enc = editor_enc.getValue();
      var prev_dec = editor_dec.getValue();
      var prev_visibility = document.getElementById("visible").checked;
      function synchronize()
            {
                var enc_code = editor_enc.getValue().trim().split("\n");
                var cur_enc_header = enc_code[0];
                enc_code[0] = enc_header;
                enc_code = enc_code.join("\n");

                if(cur_enc_header !== enc_header)
                    editor_enc.setValue(enc_code);

                var dec_code = editor_dec.getValue().trim().trim().split("\n");
                var cur_dec_header = dec_code[0];
                dec_code[0] = dec_header;
                dec_code = dec_code.join("\n");

                if(cur_dec_header !== dec_header)
                    editor_dec.setValue(dec_code);

                var visibility = document.getElementById("visible").checked;

                if(prev_enc !== enc_code || prev_dec !== dec_code || prev_visibility !== visibility)
                {
                    prev_enc = enc_code;
                    prev_dec = dec_code;
                    $.ajax({
                          url: window.location.href,
                          method: "POST",
                          context: document.body,
                          data: { enc: enc_code, dec: dec_code, "vis": visibility }
                        }).done(function() {
                        });
                }
            }

       function ciphering_test()
       {
            var id = {{id}};
            var key = $("#enc_key").val();
              $.ajax({
                      url: "/execute_js_cipher/"+id,
                      method: "POST",
                      context: document.body,
                      dataType: "json",
                      data: { "op": "enc", arg: $("#enc_text").val(), "key": key },
                      success: function(data){
                          $("#enc_err").text(data["error"]);
                          if(data["error"] === "")
                          {
                                $("#enc_err_container").css("display", "none");
                          }
                          else
                          {
                                $("#enc_err_container").css("display", "");
                          }
                          $("#enc_res").val(data["res"]);
                          $("#dec_text").val(data["res"]);
                          $("#dec_key").val(key);
                          $("#dec_res").val("");
                      }
                    });
       }

       function deciphering_test()
       {
            var id = {{id}};
              $.ajax({
                      url: "/execute_js_cipher/"+id,
                      method: "POST",
                      context: document.body,
                      dataType: "json",
                      data: { "op": "dec", arg: $("#dec_text").val(), "key": $("#dec_key").val() },
                      success: function(data){
                            console.log(data);
                          $("#dec_err").text(data["error"]);
                          if(data["error"] === "")
                          {
                                $("#dec_err_container").css("display", "none");
                          }
                          else
                          {
                                $("#dec_err_container").css("display", "");
                          }
                          $("#dec_res").val(data["res"]);
                      }
                    });
       }

        $(window).bind("pageshow", function(event) {
            if (event.originalEvent.persisted) {
                window.location.reload()
            }
        });
        </script>

    </body>
</html>
